<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit information</title>
</head>
<body>
  <h1>Edit User</h1>
  <form action="/users/{{user.id}}/edit" method = "POST">
    <input type="text" name ="first_name" placeholder="Enter a First name" required>
    <input type="text" name ="last_name" placeholder="Enter a last name " required>
    <input type="text" name ="image_url" placeholder="Provide an image of this user">
    <button type="submit"> Add</Button>
  </form>

  
</body>
</html>